<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emtwnty.schemaker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.emtwnty.schemaker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.emtwnty.schemaker.ui.AddScheduleActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.main.SettingActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.main.GroupActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.main.HomeActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.RegisterActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.LoginActivity" />
        <activity android:name="com.emtwnty.schemaker.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.emtwnty.schemaker.ScheduleService"/>
        <receiver android:name="com.emtwnty.schemaker.AlarmReceiver"
            android:exported="false"/>
    </application>

</manifest>